@charset "utf-8";
/* CSS Document */

body{
	background-image: url("background.jpg");
	background-attachment: fixed;
}


.topMenu
{
	border-width:3px, solid black;
	width:80%;
	background-color: sandybrown;
	text-align: center;
	color:black;
	margin-left:10%;
}

.topmenu, td
{
	width:18%;
}

.topmenu img
{
	float:center;
}

.outsideTextbox
{
	width:100%;
	color: black;
	background-color: yellow;
	text-align: center;
}
.banner
{
	margin-left:10%;
	background-image: url("bearAndMountains.jpg");
	width:80%;
	margin-top: 2%;
}

.clearview
{
	padding-left: 5%;
	padding-top:2%;
	padding-bottom:4%;
	width:20%;
	background-color: lightgray;
	
}

.links
{
	margin-left: 44%;
}

.subBox1
{
	width:50%;
	margin-left:20%;
	background-color:antiquewhite;
	padding: 4%;
	margin-bottom:4%;
}

.button
{
	background-color: sandybrown;
	padding:10px;
	margin-left:20%;
	margin-right: 20%;
	text-align: center;
}

.feed
{
	width:50%;
	margin-left:30%;
}

.endOfPage
{
	margin-left:10%;
	margin-right:10%;
	background-color: sandybrown;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
}

.endOfPage .picture
{
	float:right;
}
